# anjuta
.anjuta*
*.anjuta

# backup file
*~
*.swp

# autotools
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4/

# output
.deps/
.libs/
*.la
*.lo
*.pc
*.o
ghwp-version.h

# output files of dpkg-buildpackage
debian/autoreconf.*
debian/files
debian/libghwp-dev/
debian/libghwp0/
debian/*.debhelper
debian/*.log
debian/*.substvars
debian/stamp-*
debian/tmp/
