# anjuta
.anjuta*
*.anjuta

# backup file
*~
*.swp

# autotools
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4/

# po
mkinstalldirs
Makefile.in*
POTFILES
stamp-it

# output
.deps/
.libs/
*.la
*.lo
*.pc
*.o
ghwp-version.h
src/hwp2pdf
src/hwp2svg
src/unhwp

# output files of dpkg-buildpackage
debian/autoreconf.*
debian/files
debian/*.debhelper
debian/*.log
debian/*.substvars
debian/stamp-*
debian/tmp/
debian/libghwp*/
