# anjuta
.anjuta*
*.anjuta

# backup file
*~
*.swp

# autotools
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4/

# gtk-doc
gtk-doc.make
docs/version.xml
docs/*.stamp
docs/html/
docs/hwp*
docs/xml/

# po
mkinstalldirs
Makefile.in*
POTFILES
stamp-it

# output
.deps/
.libs/
*.la
*.lo
*.pc
*.o
hwp-version.h
src/hwp2pdf
src/hwp2svg
src/hwp2txt
src/unhwp
src/hwp-enum-types.h
src/hwp-enum-types.c
src/*.gir
src/*.typelib

# output files of dpkg-buildpackage
debian/autoreconf.*
debian/files
debian/*.debhelper
debian/*.log
debian/*.substvars
debian/stamp-*
debian/tmp/
debian/libhwp*/
