Source: libhwp
Priority: optional
Section: libs
Maintainer: Hodong Kim <hodong@cogno.org>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libgsf-1-dev,
               libcairo2-dev,
               libpango1.0-dev,
               libpoppler-glib-dev,
               libxml2-dev,
               libgirepository1.0-dev,
               libglib2.0-dev,
               pkg-config
Standards-Version: 3.9.3
Homepage: https://bitbucket.org/hodong/libhwp
Vcs-Git: git@bitbucket.org:hodong/libhwp.git
Vcs-Browser: https://bitbucket.org/hodong/libhwp

Package: libhwp-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libhwp2 (= ${binary:Version}),
         libgsf-1-dev,
         libcairo2-dev,
         libpango1.0-dev,
         libpoppler-glib-dev,
         libxml2-dev,
         libgirepository1.0-dev,
         libglib2.0-dev
Description: handling and rendering HWP documents (development files)
 HWP is a proprietary document file format developed by Hancom for word
 processing documents.
 .
 This package contains the development files.

Package: libhwp2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: handling and rendering HWP documents (library)
 HWP is a proprietary document file format developed by Hancom for word
 processing documents.
 .
 This package contains the library. It is being used by evince to read HWP 
 documents.
