Source: libhwp
Priority: optional
Section: libs
Maintainer: Hodong Kim <cogniti@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               gtk-doc-tools,
               libgsf-1-dev,
               libxml2-dev,
               libgirepository1.0-dev,
               libglib2.0-dev,
               libssl-dev,
               pkg-config
Standards-Version: 3.9.6
Homepage: https://github.com/cogniti/libhwp

Package: libhwp4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Suggests: fonts-noto-cjk
Description: handling Hwp documents (library)
 The libhwp is a parser library for hwp documents.
 .
 Hwp is a document file format developed by Hancom.
 .
 This package contains:
  * the shared libraries
  * command line utilities:
     * hwp2txt -- text extraction
     * unhwp -- hwp v5.0 extraction tool

Package: libhwp-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libhwp4 (= ${binary:Version}),
         libgsf-1-dev,
         libxml2-dev,
         libgirepository1.0-dev,
         libglib2.0-dev,
         libssl-dev
Description: handling Hwp documents (development files)
 The libhwp is a parser library for hwp documents.
 .
 Hwp is a document file format developed by Hancom.
 .
 This package contains the development files and API documentation.
